.iframe-holder {
  width: 100%;
  height: calc(100vh - 404px);
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 128px;

  .iframe {
    transform: scale(2.8);
    transform-origin: 0 0;
    width: 38%;
    height: 100%;
    border: none;
  }
}
